html {
  background-color: #333232;
  height: 100%;
}
.container {
  height: 200px;
  width: 550px;
  background-color: #348992;
  margin: 0 auto;
  border: 5ps solid #ffeeaa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 50px 1fr;
  padding: 50px;
}
#input {
  grid-column: span 4;
  margin-bottom: 20px;
  width: 500px;
  height: 25px;
  margin: 0 auto;
}
#kg,
#pound {
  grid-column: span 2;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 150px; */
  margin-left: 20px;
  margin-right: 20px;
}
#output {
  grid-column: span 4;
  margin-top: 20px;
  width: 500px;
  height: 25px;
  margin: 30px auto;
}
